
# Database connection URL for Prisma. using docker compose 

DATABASE_URL="postgresql://postgres:postgres@localhost:6000/minor_project_db?schema=public"

#Better auth secret key


BETTER_AUTH_SECRET="your-better-auth-secret-key" 

BETTER_AUTH_URL="http://localhost:3000"


# github client id and secret for better auth

GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"


# openroute ai api 

OPENROUTER_API_KEY="your-openroute-ai-api-key" # get from openrouter.ai






